html { 
    background: url("./src/hangman_bottom.png") no-repeat center center fixed; 
  }

body{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin: 2em 0em 1em 0em;
    font-size: 50px;
}

#letters{
    font-size: 50px;
}

#inputLetter{
    font-size: 40px;
    color: black;
    text-align: center;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    
}

input::placeholder{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

input:focus{
    outline: none;
}